---
import Card from "../../UIKit/Card.astro";

type Props = {
  limit: string;
};

const { limit } = Astro.props;

type WatatakuBlog = {
  contents: Contents[];
};

type Contents = {
  id: string;
  createdAt: string;
  title: string;
  thumbnail: Thumbnail;
};

type Thumbnail = {
  url: string;
  width: number;
  height: number;
};

const myMicroCMSApiUrl = `https://${
  import.meta.env.MICROCMS_SERVICE_DOMAIN_BLOG
}.microcms.io/api/v1/blog?orders=-publishedAt&limit=${limit}`;

const res = await fetch(myMicroCMSApiUrl, {
  headers: {
    "X-MICROCMS-API-KEY": import.meta.env.MICROCMS_API_KEY_BLOG,
  },
});
const getFetchData: WatatakuBlog = await res.json();
---

<div class="watataku-blog">
  {
    getFetchData ? (
      getFetchData.contents.map((item: Contents) => (
        <Card
          target={"_blank"}
          image={item.thumbnail.url}
          width={item.thumbnail.width}
          height={item.thumbnail.height}
          href={"https://watataku-blog.vercel.app/blog/" + item.id}
          title={item.title}
          time={item.createdAt}
        />
      ))
    ) : (
      <h3>Watataku's ブログを取得できませんでした。</h3>
    )
  }
</div>

<script></script>

<style>
  .watataku-blog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  @media screen and (max-width: 1026px) {
    .watataku-blog {
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>
