---
import Layout from "../../layouts/Layout.astro";
type WatatakuBlog = {
  contents: Contents[];
};

type Contents = {
  id: string;
  createdAt: string;
  title: string;
  thumbnail: Thumbnail;
  body: string;
};

type Thumbnail = {
  url: string;
};

export async function getStaticPaths() {
  const myMicroCMSApiUrl = `https://du14ecbjft.microcms.io/api/v1/blog`;
  const res = await fetch(myMicroCMSApiUrl, {
    headers: {
      "X-MICROCMS-API-KEY": import.meta.env.MICROCMS_API_KEY,
    },
  });
  const getFetchData: WatatakuBlog = await res.json();

  return getFetchData.contents.map((contents: Contents) => ({
    params: {
      blogId: contents.id,
    },
  }));
}

//記事の詳細情報を取得
const { blogId } = Astro.params;
console.log(blogId);

const myMicroCMSApiUrl = `https://du14ecbjft.microcms.io/api/v1/blog/${blogId}`;
const res = await fetch(myMicroCMSApiUrl, {
  headers: {
    "X-MICROCMS-API-KEY": import.meta.env.MICROCMS_API_KEY,
  },
});
const getFetchBlogDetail: Contents = await res.json();
---

<Layout title={getFetchBlogDetail.title} description={getFetchBlogDetail.body}>
  <section class="blog">
    <img
      class="blog__thumbnail"
      src={getFetchBlogDetail.thumbnail.url}
      alt={getFetchBlogDetail.title}
    />
    <h1 class="blog__title">{getFetchBlogDetail.title}</h1>
    <div class="blog__post" set:html={getFetchBlogDetail.body}></div>
  </section>
</Layout>

<style>
  .blog {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }

  .blog__thumbnail {
    height: 300px;
    border: solid 1px black;
  }

  .blog__title {
    text-align: left;
    font-size: 40px;
    margin: 0 0 30px 0;
  }

  .blog__post {
    text-align: left;
  }

  /* マークダウン */
  .blog__post h1 {
    font-size: 30px;
    border-bottom: solid 1px #aaa;
  }

  .blog__post h2 {
    font-size: 25px;
    border-bottom: solid 1px #aaa;
  }

  .blog__post pre {
    background-color: #222;
    padding: 1.5%;
    overflow: auto;
  }

  .blog__post pre code {
    background-color: transparent;
    font-size: 18px;
    font-style: normal;
    color: #e0efff;
  }

  .blog__post code {
    background-color: #eee;
    color: rgb(224, 120, 120);
    font-style: italic;
  }

  .blog__post a {
    color: blue;
    border-bottom: solid 1px blue;
  }

  .blog__post p {
    font-size: 18px;
    letter-spacing: 1px;
  }

  .blog__post li {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 4.5vh;
    list-style-type: disc;
  }

  .blog__post img {
    max-width: 100%;
  }

  .blog__post blockquote {
    border-left: 5px solid #999;
    padding-left: 20px;
    font-style: italic;
    color: #888;
  }
</style>
