---
import { datePlasticSurgery } from "../../ts/function";

type Props = {
  target: "_blank" | "_self" | "_top" | "_parent";
  image: string;
  title: string;
  href: string;
  time: string;
};

const { target, image, href, title, time } = Astro.props;
---

<article class="card">
  <a href={href} target={target} class="link">
    <figure><img src={image} alt={title} class="card__thunbnail" /></figure>
    <div class="card__text">
      <h4 class="card__title text-color">
        {title}
      </h4>
      <time datetime="YYYY年MM月DD日" class="card__date">
        {datePlasticSurgery(time)}
      </time>
    </div>
  </a>
</article>

<style>
  .link {
    display: block;
  }

  .card {
    text-align: center;
    position: relative;
    width: var(--card-size-width-3col);
    background-color: var(--card-bgColor);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }

  @media screen and (max-width: 1026px) {
    .card {
      width: var(--card-size-width-2col);
    }
  }

  .card:hover {
    box-shadow: none;
    transform: translateY(5px);
  }

  .card__thunbnail {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 4 / 2;
  }

  .card__text {
    word-break: break-all;
    height: 100px;
  }

  .text-color {
    color: var(--accent-color);
  }

  .card__title {
    text-align: left;
    padding: 0 15px 0 15px;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  @media screen and (max-width: 1025px) {
    .card__title {
      font-size: 0.8rem;
      -webkit-line-clamp: 3;
    }
  }

  .card__date {
    position: absolute;
    bottom: 5px;
    right: 15px;
    color: var(--subtextColor);
  }
  @media screen and (max-width: 1026px) {
    .card__date {
      font-size: 0.8rem;
    }
  }
</style>
