---
type Props = {
  image: string;
  width: number;
  height: number;
  title: string;
  text: string;
};

const { image, width, height, title, text } = Astro.props;
---

<article class="service-card">
  <img
    class="service-card__thunbnail"
    src={image}
    width={width}
    height={height}
    alt={title}
  />
  <h3 class="service-card__title text-color">
    {title}
  </h3>
  <p class="service-card__text text-color">
    {text}
  </p>
</article>

<script>
  import { intersection } from "../../ts/function";

  intersection(document.querySelectorAll(".service-card"));
</script>

<style>
  .service-card {
    position: relative;
    width: var(--card-size-width-3col);
    height: 556px;
    background-color: var(--card-bgColor);
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }
  @media screen and (min-width: 482px) and (max-width: 1025px) {
    .service-card {
      height: 400px;
      transform: translate3d(0, 0, 0);
    }
  }
  @media screen and (max-width: 481px) {
    .service-card {
      width: var(--card-size-width-1col);
      height: 504px;
      transform: translate3d(0, 0, 0);
    }
  }

  .service-card.active:nth-child(1) {
    animation: animationName 0.5s ease 0.5s 1 forwards;
  }

  .service-card.active:nth-child(2) {
    animation: animationName 0.5s ease 1s 1 forwards;
  }
  @media screen and (max-width: 481px) {
    .service-card.active:nth-child(2) {
      animation: animationName 0.5s ease 1s 1 forwards;
    }
  }

  .service-card.active:nth-child(3) {
    animation: animationName 0.5s ease 1.5s 1 forwards;
  }

  .text-color {
    color: var(--accent-color);
    word-break: break-all;
  }

  .service-card__title {
    text-align: center;
    padding: 8px 15px 8px 15px;
  }

  @media screen and (min-width: 482px) and (max-width: 1025px) {
    .service-card__title {
      font-size: clamp(1rem, 2.5vw, 1.25rem);
    }
  }

  .service-card__text {
    padding: 0 15px 10px 15px;
  }

  @keyframes animationName {
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
</style>
