---
import IconTag from "/icon/icon_tag_navy.svg";

type Props = {
  image: string;
  title: string;
  use_tech: string;
  href: string;
  comment: string;
};

const { image, href, title, use_tech, comment } = Astro.props;
---

<article class="work-card">
  <a href={href} class="link">
    <figure class="work-card__thumbnail">
      <img src={image} alt={title} class="work-card__thumbnail__image" />
    </figure>
    <div class="work-card__text">
      <p class="work-card__tag text-color">
        <img src={IconTag} alt="タグ" />{use_tech}
      </p>

      <h4 class="work-card__title text-color">
        {title}
      </h4>

      <p class="work-card__comment text-color">
        {comment}
      </p>
    </div>
  </a>
</article>

<script>
  import { intersection } from "../../ts/function";

  intersection(document.querySelectorAll(".work-card"));
</script>

<style>
  .link {
    display: block;
  }

  .link:hover .work-card__thumbnail .work-card__thumbnail__image {
    box-shadow: none;
    transform: scale(1.1);
  }

  .work-card {
    width: var(--card-size-width-3col);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    background-color: var(--card-bgColor);
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }
  @media screen and (min-width: 482px) and (max-width: 1025px) {
    .work-card {
      width: var(--card-size-width-2col);
      transform: translate3d(0, 10px, 0);
    }
  }
  @media screen and (max-width: 481px) {
    .work-card {
      width: var(--card-size-width-1col);
      transform: translate3d(0, 10px, 0);
    }
  }

  .work-card.active {
    animation: animationName 0.5s ease 0.5s 1 forwards;
  }

  .work-card__thumbnail {
    overflow: hidden;
  }

  .work-card__thumbnail__image {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 7 / 4;
  }

  .work-card__text {
    height: 180px;
  }

  .text-color {
    color: var(--accent-color);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
  }

  .work-card__tag {
    padding: 0 0 0 15px;
    font-size: 1em;
    -webkit-line-clamp: 1;
  }

  .work-card__title {
    padding: 10px 15px 0 15px;
    font-size: 1.5em;
    -webkit-line-clamp: 1;
  }

  .work-card__comment {
    padding: 15px 15px 0 15px;
    -webkit-line-clamp: 3;
  }

  @keyframes animationName {
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
</style>
