---
type Props = {
  image: string;
  title: string;
  width: number;
  height: number;
  use_tech: string;
  href: string;
  comment: string;
};

const { image, title, width, height, use_tech, href, comment } = Astro.props;
---

<article class="work-card">
  <a href={href} class="link">
    <figure class="work-card__thumbnail">
      <img
        src={image}
        width={width}
        height={height}
        alt={title}
        class="work-card__thumbnail__image"
      />
    </figure>
    <div class="work-card__text">
      <p class="work-card__tag text-color">
        <svg
          width="14"
          height="14"
          viewBox="0 0 14 14"
          fill="#fff"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M8.32414 13L13 8.32414L5.67586 1L1.28966 1.28966L1 5.67586L8.32414 13Z"
            stroke="#331CBF"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M3.68999 4.51723C3.23293 4.51723 2.86241 4.14671 2.86241 3.68965C2.86241 3.23258 3.23293 2.86206 3.68999 2.86206C4.14706 2.86206 4.51758 3.23258 4.51758 3.68965C4.51758 4.14671 4.14706 4.51723 3.68999 4.51723Z"
            stroke="#331CBF"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
        {use_tech}
      </p>

      <h4 class="work-card__title text-color">
        {title}
      </h4>

      <p class="work-card__comment text-color">
        {comment}
      </p>
    </div>
  </a>
</article>

<style>
  .link {
    display: block;
  }

  @media (hover: hover) {
    .link:any-link:hover .work-card__thumbnail .work-card__thumbnail__image {
      transform: scale(1.1);
    }
  }

  .work-card {
    background-color: var(--card-bgColor);
  }

  .work-card__thumbnail {
    overflow: hidden;
    border: solid 4px var(--card-bgColor);
    box-sizing: border-box;
    aspect-ratio: 9 / 5;
  }

  .work-card__thumbnail__image {
    aspect-ratio: 9 / 5;
  }

  .work-card__text {
    height: 196px;
  }

  .text-color {
    color: var(--accent-color);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
  }

  .work-card__tag {
    padding: 4px 16px 0 16px;
    font-size: 1em;
    -webkit-line-clamp: 1;
  }

  .work-card__title {
    padding: 8px 16px 0 16px;
    font-size: 1.5em;
    -webkit-line-clamp: 1;
  }

  .work-card__comment {
    padding: 16px 16px 0 16px;
    -webkit-line-clamp: 3;
  }
</style>
