---
import IconTag from "/icon/icon_tag_navy.svg";

type Props = {
  image: string;
  title: string;
  use_tech: string;
  href: string;
  comment: string;
};

const { image, href, title, use_tech, comment } = Astro.props;
---

<article class="work-card">
  <a href={href} target="_blank">
    <img src={image} alt={title} class="work-card__thunbnail" />
    <p class="work-card__tag black">
      <img src={IconTag} alt="タグ" />{use_tech}
    </p>
    <h4 class="work-card__title black">
      {title}
    </h4>
    <p class="work-card__comment black">
      {comment}
    </p>
  </a>
</article>

<script></script>

<style>
  .work-card {
    position: relative;
    width: 39vw;
    height: 450px;
    background-color: #fffdf9;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
  }
  @media screen and (min-width: 482px) and (max-width: 1025px) {
    .work-card {
      width: 43vw;
      height: 350px;
    }
  }
  @media screen and (max-width: 481px) {
    .work-card {
      width: 95vw;
      height: 400px;
      margin-bottom: 20px;
    }
  }

  .work-card.hover {
    box-shadow: none;
  }

  .work-card:hover {
    transform: translateY(5px);
    box-shadow: none;
  }

  .work-card__thunbnail {
    max-width: 100%;
    height: auto;
    overflow: hidden;
  }

  .black {
    padding: 0 0 0 5px;
    color: #000;
  }

  .work-card__tag {
    font-size: 1rem;
  }

  .work-card__title {
    font-size: 1.35rem;
    margin-bottom: 10px;
  }

  @keyframes animationName {
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>
