---
import IconTag from "/icon/icon_tag_navy.svg";

type Props = {
  image: string;
  title: string;
  tag: string;
  href: string;
  comment: string;
};

const { image, href, title, tag, comment } = Astro.props;
---

<a href={href} target="_blank" class="link">
  <article class="card">
    <img src={image} alt={title} class="card__thunbnail" />
    <p class="card__tag black"><img src={IconTag} alt="タグ" />{tag}</p>
    <h4 class="card__title black">
      {title}
    </h4>
    <h4 class="card__comment black">
      {comment}
    </h4>
  </article>
</a>

<style>
  .link {
    display: block;
  }

  .card {
    position: relative;
    width: 40vw;
    height: 450px;
    background-color: #fffdf9;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }

  @media screen and (min-width: 482px) and (max-width: 1025px) {
    .card {
      width: 45vw;
      height: 350px;
    }
  }

  @media screen and (max-width: 481px) {
    .card {
      width: 95vw;
      height: 400px;
      margin-bottom: 20px;
    }
  }

  .card:hover {
    transform: translateY(-10px);
  }

  .card__thunbnail {
    max-width: 100%;
    height: auto;
  }

  .black {
    padding: 0 0 0 5px;
    color: #000;
  }

  .card__tag {
    font-size: 1rem;
  }

  .card__title {
    font-size: 1.35rem;
    margin-bottom: 10px;
  }
</style>
