---
import IconTag from "/icon/icon_tag_navy.svg";

type Props = {
  image: string;
  title: string;
  tag: string;
  href: string;
  comment: string;
};

const { image, href, title, tag, comment } = Astro.props;
---

<article class="work-card">
  <a href={href} target="_blank" class="link">
    <img src={image} alt={title} class="work-card__thunbnail" />
    <p class="work-card__tag black"><img src={IconTag} alt="タグ" />{tag}</p>
    <h4 class="work-card__title black">
      {title}
    </h4>
    <p class="work-card__comment black">
      {comment}
    </p>
  </a>
</article>

<script>
  intersection(document.querySelectorAll(".work-card"));
</script>

<style>
  @keyframes animationName {
    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }

  .link {
    display: block;
  }

  .work-card {
    position: relative;
    width: 38vw;
    height: 450px;
    background-color: #fffdf9;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: translateY(30px);
  }
  @media screen and (min-width: 482px) and (max-width: 1025px) {
    .work-card {
      width: 43vw;
      height: 350px;
    }
  }
  @media screen and (max-width: 481px) {
    .work-card {
      width: 95vw;
      height: 400px;
      margin-bottom: 20px;
    }
  }

  .work-card.active:nth-child(2n + 1) {
    animation: animationName 0.5s ease 0.5s 1 forwards;
  }
  .work-card.active:nth-child(2n) {
    animation: animationName 0.5s ease 1s 1 forwards;
  }

  .work-card:hover {
    transform: translateY(-10px);
  }

  .work-card__thunbnail {
    max-width: 100%;
    height: auto;
  }

  .black {
    padding: 0 0 0 5px;
    color: #000;
  }

  .work-card__tag {
    font-size: 1rem;
  }

  .work-card__title {
    font-size: 1.35rem;
    margin-bottom: 10px;
  }
</style>
