---
import serviceList from "../../../public/data/service.json";
import ServiceCard from "../UIKit/ServiceCard.astro";
type Service = {
  id: number;
  image: string;
  title: string;
  width: number;
  height: number;
  text: string;
};
---

<div class="abouts__about__service">
  {
    serviceList.map((service: Service) => (
      <ServiceCard
        image={service.image}
        title={service.title}
        width={service.width}
        height={service.height}
        text={service.text}
      />
    ))
  }
</div>

<style>
  .abouts__about__service {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  @media screen and (max-width: 481px) {
    .abouts__about__service {
      grid-template-columns: repeat(1, 1fr);
    }
  }
</style>
