---
import IconTw from "/icon/ico_tw.svg";
import IconInst from "/icon/ico_inst.svg";
import IconGit from "/icon/github_logo.svg";

import serviceList from "../../public/data/service.json";
import interestList from "../../public/data/interest.json";
import careerList from "../../public/data/career.json";

import Layout from "../layouts/Layout.astro";
import ServiceCard from "../components/UIKit/ServiceCard.astro";

type Service = {
  id: number;
  image: string;
  service: string;
  text: string;
};

type Interest = {
  id: number;
  interest: string;
};

type Career = {
  id: number;
  timeline_date: string;
  timeline_title: string;
  timeline_content: string;
};
---

<Layout
  title="ABOUT | Watataku's ポートフォリオサイト"
  description="WatatakuのAboutページです。"
>
  <section class="abouts">
    <div class="abouts__about">
      <h1 class="abouts__about__title--large">
        About&nbsp;me<span class="abouts__about__title--large__sub"
          >私について</span
        >
      </h1>
      <div class="abouts__about image-box">
        <img
          class="abouts__about__img"
          src="/img/Hight_icon_watataku's_radius.png"
          alt="Watataku"
        />
        <p class="abouts__about__name">Watataku</p>
        <div class="abouts__about__sns">
          <p>
            <a
              class="link"
              href="https://twitter.com/watataku8911"
              target="_blank"
              ><img class="sns-icon" src={IconTw} alt="twitter" />
            </a>
          </p>
          <p>
            <a
              class="link"
              href="https://instagram.com/watataku8911"
              target="_blank"
              ><img class="sns-icon" src={IconInst} alt="instagram" />
            </a>
          </p>
          <p>
            <a
              class="link"
              href="https://github.com/watataku8911"
              target="_blank"
              ><img class="sns-icon" src={IconGit} alt="github" />
            </a>
          </p>
        </div>
      </div>
      <div class="abouts__about__inner">
        <h2 class="abouts__about__title">
          Service<span class="abouts__about__title__sub">サービス</span>
        </h2>
        <div class="abouts__about__service">
          {
            serviceList.map((service: Service) => (
              <ServiceCard
                image={service.image}
                title={service.service}
                text={service.text}
              />
            ))
          }
        </div>
      </div>
      <div class="abouts__about__inner">
        <h2 class="abouts__about__title">
          Interest<span class="abouts__about__title__sub">興味がある</span>
        </h2>
        <ul>
          {
            interestList.map((interest: Interest) => (
              <li class="abouts__about__li">{interest.interest}</li>
            ))
          }
        </ul>
      </div>
      <div class="abouts__about__inner">
        <h2 class="abouts__about__title">
          Career<span class="abouts__about__title__sub">キャリア</span>
        </h2>
        <ul class="abouts__about__timeline">
          {
            careerList.map((career: Career) => (
              <li>
                <p class="abouts__about__timeline__date">
                  {career.timeline_date}
                </p>
                <div class="abouts__about__timeline__content">
                  <h3>{career.timeline_title}</h3>
                  <p>{career.timeline_content}</p>
                </div>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </section>
</Layout>

<script>
  import gsap from "gsap";

  const jsLoaderBg = ".js-loader-bg";
  const jsDot = ".js-loader-dot-wrap > span";

  gsap.set(jsDot, {
    opacity: 0,
    y: -50,
  });

  const loaded = () => {
    gsap
      .timeline()
      .to(jsDot, {
        opacity: 0,
      })
      .to(jsLoaderBg, {
        y: "100%",
        delay: 0.5,
      });
  };

  // loading完了
  window.addEventListener("load", (event) => {
    setTimeout(() => {
      loaded();
    }, 3000);
  });

  setTimeout(() => {
    loaded();
  }, 9000);
</script>

<style>
  /* メイン */
  .abouts {
    background-color: #addff2;
    padding: 60px 0 60px 0;
  }

  .abouts__about {
    width: 90%;
    margin: 0 auto;
  }

  .abouts__about__title--large {
    font-size: 4.5em;
    padding: 2% 0 60px 0;
  }
  @media screen and (min-width: 482px) and (max-width: 1025px) {
    .abouts__about__title--large {
      font-size: 3.5em;
    }
  }
  @media screen and (max-width: 481px) {
    .abouts__about__title--large {
      font-size: 2.5em;
      padding: 2% 0 30px 0;
    }
  }

  .abouts__about__title--large__sub {
    font-size: 0.25em;
    color: #333;
  }

  .abouts__about__title--large__sub::before {
    content: "";
    display: inline-block;
    width: 20px;
    border-bottom: solid 1px #333;
    margin: 0 5px 0 5px;
  }

  .image-box {
    text-align: center;
  }

  .abouts__about__service {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  @media screen and (max-width: 481px) {
    .abouts__about__service {
      flex-direction: column;
    }
  }

  .abouts__about .abouts__about__img {
    max-width: 20%;
  }
  @media screen and (min-width: 482px) and (max-width: 1025px) {
    .abouts__about .abouts__about__img {
      max-width: 25%;
    }
  }
  @media screen and (max-width: 481px) {
    .abouts__about .abouts__about__img {
      max-width: 40%;
    }
  }

  .abouts__about__name {
    font-size: 30px;
  }

  .abouts__about__sns {
    width: 50%;
    margin: 0 auto;
    padding: 30px 0 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .sns-icon {
    width: 80px;
    height: 80px;
  }
  @media screen and (max-width: 1026px) {
    .sns-icon {
      width: 40px;
      height: 40px;
    }
  }

  .link:hover {
    opacity: 0.5;
  }

  .abouts__about__inner {
    margin: 0 0 20px 0;
  }

  .abouts__about__title {
    font-size: 25px;
    margin-bottom: 15px;
  }

  .abouts__about__title__sub {
    font-size: 0.5em;
    color: #444;
  }

  .abouts__about__title__sub::before {
    display: inline-block;
    content: "";
    width: 20px;
    margin: 0 4px 0 4px;
    border-bottom: 1px solid #444;
  }

  .abouts__about__li {
    margin-left: 25px;
    list-style: disc;
  }

  .abouts__about__timeline > li {
    overflow: hidden;
    margin: 0;
    position: relative;
  }

  .abouts__about__timeline__date {
    width: 130px;
    float: left;
    margin-top: 20px;
  }

  .abouts__about__timeline__content {
    width: 75%;
    float: left;
    border-left: 3px #5bbee5 solid;
    padding-left: 30px;
    padding-bottom: 10px;
  }
  @media screen and (max-width: 481px) {
    .abouts__about__timeline__content {
      width: 100%;
      border-left: none;
    }
  }

  .abouts__about__timeline__content h3 {
    font-size: 22px;
    font-weight: bold;
  }
  @media screen and (max-width: 481px) {
    .abouts__about__timeline__content h3 {
      padding: 0 0 10px 0;
    }
  }

  .abouts__about__timeline__content:before {
    content: "";
    width: 12px;
    height: 12px;
    background-color: #5bbee5;
    position: absolute;
    left: 126px;
    top: 24px;
    border-radius: 100%;
  }
  @media screen and (max-width: 481px) {
    .abouts__about__timeline__content:before {
      display: none;
    }
  }
</style>
