---
import Layout from "../layouts/Layout.astro";
import WorkCard from "../components/UIKit/WorkCard .astro";

type Work = {
  contents: Contents[];
};

type Contents = {
  image: Image;
  title: string;
  href: string;
  use_tech: string;
  comment: string;
};

type Image = {
  url: string;
};

const myMicroCMSApiUrl = `https://${
  import.meta.env.MICROCMS_SERVICE_DOMAIN_PORTFOLIO
}.microcms.io/api/v1/works?orders=-publishedAt&limit=999`;

const res = await fetch(myMicroCMSApiUrl, {
  headers: {
    "X-MICROCMS-API-KEY": import.meta.env.MICROCMS_API_KEY_PORTFOLIO,
  },
});
const getFetchData: Work = await res.json();
---

<Layout title="WORKS | Watataku's ポートフォリオ" description="作品集です">
  <section class="works-page" id="work">
    <div class="works-page__work">
      <h2 class="works-page__work__title">
        Works<span class="works-page__work__title--sub">作品</span>
      </h2>
      <div class="works-page__work__inner">
        {
          getFetchData.contents.map((work: Contents) => (
            <WorkCard
              image={work.image.url}
              href={work.href}
              title={work.title}
              use_tech={work.use_tech}
              comment={work.comment}
            />
          ))
        }
      </div>
    </div>
  </section>
</Layout>

<script>
  intersection(document.querySelectorAll(".works-page__work__title"));
</script>

<style>
  .works-page {
    background-color: #addff2;
    padding: 60px 0 60px 0;
  }

  .works-page::after {
    content: "";
    width: 40vw;
  }

  .works-page__work {
    width: 90%;
    margin: 0 auto;
  }

  .works-page__work__title {
    font-size: 4.5em;
    padding: 2% 0 60px 0;
    opacity: 0;
    transform: translateX(-30px);
  }
  @media screen and (min-width: 482px) and (max-width: 1025px) {
    .works-page__work__title {
      font-size: 3.5em;
      transform: translateY(30px);
    }
  }
  @media screen and (max-width: 481px) {
    .works-page__work__title {
      font-size: 2.5em;
      transform: translateY(30px);
      padding: 0 0 30px 0;
    }
  }

  .works-page__work__title--sub {
    font-size: 0.25em;
    color: #444;
  }

  .works-page__work__title--sub::before {
    content: "";
    display: inline-block;
    width: 20px;
    border-bottom: solid 1px #333;
    margin: 0 5px 0 5px;
  }

  .works-page__work__title.active {
    animation: animationName 0.5s ease 0.5s 1 forwards;
  }

  .works-page__work__inner {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @media screen and (min-width: 482px) and (max-width: 1026px) {
    .works-page__work__inner {
      width: 100%;
    }
  }
  @media screen and (max-width: 481px) {
    .works-page__work__inner {
      flex-direction: column;
    }
  }

  @keyframes animationName {
    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
</style>
