---
import workList from "../../../public/data/work.json";
import WorkCard from "../UIKit/WorkCard .astro";

type Work = {
  id: number;
  image: string;
  title: string;
  href: string;
  tag: string;
  comment: string;
};
---

<section class="works" id="work">
  <div class="works__work">
    <h2 class="works__work__title">Work.</h2>
    <div class="works__work__inner">
      {
        workList.map((work: Work) => (
          <WorkCard
            image={work.image}
            href={work.href}
            title={work.title}
            tag={work.tag}
            comment={work.comment}
          />
        ))
      }
    </div>
  </div>
</section>

<script>
  intersection(document.querySelectorAll(".works__work__title"));
  intersection(document.querySelectorAll(".work-card"));
</script>

<style>
  .works {
    background-color: white;
    padding: 0 0 10% 0;
  }

  .works::after {
    content: "";
    width: 40vw;
  }

  .works__work {
    width: 90%;
    margin: 0 auto;
  }
  @media screen and (max-width: 1026px) {
    .works__work {
      width: 100%;
    }
  }

  .works__work__title {
    font-family: "Lobster";
    font-size: 4.5em;
    padding: 0 0 60px 0;
    opacity: 0;
    transform: translateX(-30px);
  }
  @media screen and (min-width: 482px) and (max-width: 1025px) {
    .works__work__title {
      font-size: 3.5em;
      transform: translateY(30px);
    }
  }
  @media screen and (max-width: 481px) {
    .works__work__title {
      font-size: 2.5em;
      transform: translateY(30px);
    }
  }

  .works__work__title.active {
    animation: animationName 0.5s ease 0.5s 1 forwards;
  }

  .works__work__inner {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @media screen and (max-width: 481px) {
    .works__work__inner {
      flex-direction: column;
    }
  }

  @keyframes animationName {
    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
</style>
