---
import Header from "../components/Header.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";


export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="keywords"
      content="watataku,Watataku,わたたく,ワタタク,フロントエンドエンジニア"
    />
    <meta name="description" content={description} />

    <!-- さわらびゴシック -->
    <link
      href="https://fonts.googleapis.com/css?family=Sawarabi+Gothic"
      rel="stylesheet"
    />
    <!-- Lobster -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Anton&family=Libre+Baskerville:wght@700&family=Lobster&family=Nunito:ital,wght@1,300&display=swap"
      rel="stylesheet"
    />
    <!-- Great Vibes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Great+Vibes&family=Libre+Baskerville:wght@700&family=Lobster&family=Nunito:ital,wght@1,300&display=swap" rel="stylesheet">

    <!-- OGP  -->
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://watataku-portfolio.web.app/" />
    <meta
      property="og:image"
      content="https://watataku-portfolio.web.app/img/Hight_main.67495da6.jpeg"
    />
    <meta property="og:site_name" content={title} />
    <!-- /OGP -->

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta
      name="twitter:image:src"
      content="https://watataku-portfolio.web.app/img/Hight_main.67495da6.jpeg"
    />
    <!-- /Twitter -->
    <link rel="stylesheet" href="/css/reset.css" />

    <title>{title}</title>
  </head>
  <body>
    <!-- <div class="c-loader-bg js-loader-bg">
      <div class="c-loader-dot js-loader-dot-wrap">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div> -->
    <Header />
    <slot />
    <Contact />
    <Footer />
    <style is:global>
      :root {
        --accent: 124, 58, 237;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          #da62c4 30%,
          white 60%
        );
      }

      .module--spacing--small {
        height: 10px;
      }

      .c-loader-bg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        z-index: 999;
        display: grid;
        place-items: center;
        pointer-events: none;
      }

      .c-loader-dot {
        display: inline-flex;
        align-items: center;
        justify-content: start;
        pointer-events: none;
      }

      .c-loader-dot > span {
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #fff;
      }

      .c-loader-dot > span + span {
        margin-left: 3rem;
      }
    </style>
  </body>
  <script src="js/script.js" charset="utf-8"></script>
  <script>
    import gsap from "gsap";

    const jsDot = ".js-loader-dot-wrap > span";

    gsap.set(jsDot, {
      opacity: 0,
      y: -50,
    });

    gsap.timeline().to(
      /* 0.8秒後に起動 */
      jsDot,
      {
        opacity: 1,
        y: 0,
        duration: 0.8,
        delay: 0.8,
        stagger: {
          amount: 0.5, //0.5秒おきに
          from: "start", // 左から
          ease: "power4.inOut",
        },
        repeat: -1,
      }
    );
  </script>
</html>
