---
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer/Footer";

export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="keywords"
      content="watataku,Watataku,わたたく,ワタタク,フロントエンドエンジニア"
    />
    <meta name="description" content={description} />

    <!-- さわらびゴシック -->
    <link
      href="https://fonts.googleapis.com/css?family=Sawarabi+Gothic"
      rel="stylesheet"
    />
    <!-- Lobster -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Anton&family=Libre+Baskerville:wght@700&family=Lobster&family=Nunito:ital,wght@1,300&display=swap"
      rel="stylesheet"
    />
    <!-- Great Vibes -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Anton&family=Great+Vibes&family=Libre+Baskerville:wght@700&family=Lobster&family=Nunito:ital,wght@1,300&display=swap"
      rel="stylesheet"
    />

    <!-- OGP  -->
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://watataku-portfolio.web.app/" />
    <meta
      property="og:image"
      content="https://watataku-portfolio.web.app/img/Hight_main.67495da6.jpeg"
    />
    <meta property="og:site_name" content={title} />
    <!-- /OGP -->

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta
      name="twitter:image:src"
      content="https://watataku-portfolio.web.app/img/Hight_main.67495da6.jpeg"
    />
    <!-- /Twitter -->
    <link rel="stylesheet" href="/css/reset.css" />

    <title>{title}</title>
  </head>
  <body>
    <slot />
    <Contact />
    <Footer />
    <style is:global>
      :root {
        --main-color: #addff2;
        --sub-color: #fff;
        --accent-color: #000;
        --humberger-color: #555;
        --text-color: #000;
        --subtextColor: #444;
        --card-bgColor: #fffdf9;
        --hover-bgColor: #eee;
        --hover-teColor: #111;

        --base-width: 85%;
        --card-size-width-pc: 31%;
      }
      [data-theme="dark"] {
        --main-color: #8295cc;
        --sub-color: #141619;
        --accent-color: #fffdf9;
        --humberger-color: #fff;
        --subtextColor: #ddd;
        --card-bgColor: #2d2d34;
        --hover-bgColor: #eee;
        --hover-teColor: #111;
      }
    </style>
  </body>
</html>
